@model IEnumerable<Contratistas.Models.SolicitudRegistro>

@{
    ViewData["Title"] = "Lista de solicitudes de registros";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Gestión de solicitudes registro contratistas</h3>
<br />
<form method="post" onchange="myFunctionContratista()" asp-controller="Admin" asp-action="BuscarContratista" asp-route-adminid="@ViewData["Administrador"]" asp-route-modulo=0>
    <!--{% csrf_token %}-->
    
    <div id="container">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                @TempData["mensaje"]
            </div>
        }
        <!-- Buscar -->
        <label for="buscar">Buscar</label>
        <input list="contratista" name="contratista" type="text" placeholder="Razón social" required />
        <datalist id="contratista">
            @foreach (var t in ViewBag.Contratistas)
            {
                <option name="contratista" value="@t.Razon_social">@t.NIT</option>
            }
        </datalist>
        <input id="nit" name="nit" hidden />
        <input id="nom" name="nom" hidden />
        <input type="submit" value="Buscar" class="btn btn-primary">
        <a asp-controller="Admin" asp-action="FiltroTransaccion" asp-route-adminid="@ViewData["Administrador"]" asp-route-filtro=0 class="btn btn-primary">Filtrar aprobados</a>
        <a asp-controller="Admin" asp-action="FiltroTransaccion" asp-route-adminid="@ViewData["Administrador"]" asp-route-filtro=1 class="btn btn-primary">Filtrar rechazados</a>
        <a asp-controller="Admin" asp-action="FiltroTransaccion" asp-route-adminid="@ViewData["Administrador"]" asp-route-filtro=2 class="btn btn-primary">Filtrar pendientes</a>
        <a asp-controller="Admin" asp-action="SolicitudContratistas" asp-route-adminid="@ViewData["Administrador"]" class="btn btn-primary">Quitar filtros</a>
        <br><br>
        <!-- Tabla de solicitudes -->

        <div class="table-responsive">
            <table id="lista_registros" class="table table-bordered table-hover table-striped">
                <thead class="thead-light">
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Id)</td>
                        <td>@Html.DisplayNameFor(m => m.NIT)</td>
                        <td>@Html.DisplayNameFor(m => m.Razon_social)</td>
                        <td>@Html.DisplayNameFor(m => m.Email)</td>
                        <td>@Html.DisplayNameFor(m => m.Usuario)</td>
                        <td>@Html.DisplayNameFor(m => m.Operador)</td>
                        <td>@Html.DisplayNameFor(m => m.NumeroOperador)</td>
                        <td>@Html.DisplayNameFor(m => m.Transaccion)</td>
                        <td>Acción</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.NIT</td>
                        <td>@item.Razon_social</td>
                        <td>@item.Email</td>
                        <td>@item.Usuario</td>
                        <td>@item.Operador</td>
                        <td>@item.NumeroOperador</td>
                        <td>@item.Transaccion</td>
                        <!--if (item.Transaccion == "Rechazada")
                        {
                            <td class="text-danger">item.Transaccion</td>
                        }
                        else if (item.Transaccion == "Aprobada")
                        {
                            <td class="text-success">item.Transaccion</td>
                        }
                        else
                        {
                            <td class="text-warning">item.Transaccion</td>
                        }-->

                        <td>
                            <a asp-controller="Admin" asp-action="Aprobar" asp-route-adminid="@ViewData["Administrador"]" asp-route-id="@item.Id" class="btn btn-success">Aprobar</a>
                            <a asp-controller="Admin" asp-action="Rechazar" asp-route-adminid="@ViewData["Administrador"]" asp-route-id="@item.Id" class="btn btn-danger">Rechazar</a>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>No hay solicitudes.</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</form>
<script>

    function myFunctionContratista() {

        var getData = document.getElementById("contratistas").value;
        if (getData == "") {
            document.getElementById("nit").value = "";
            document.getElementById("nom").value = "";
            document.getElementById("contratistas").value = "";
        }
        var flag = false;
        var nit = "";
        var nombre = "";
        for (var i = 0; i < getData.length; i++) {
            if (getData[i] != ' ') {
                nit = nit + getData[i];
                flag = true;
            }
            else {
                break;
            }
        }
        if (flag) {
            for (j = i + 1; j < getData.length; j++) {
                nombre = nombre + getData[j];
            }
        }
        document.getElementById("nit").value = nit;
        document.getElementById("nom").value = nombre;
        document.getElementById("contratistas").value = nombre;
    }

</script>