@model Contratistas.Models.ValidarDatosTrabajador

@{
    var obras = (List<string>)ViewData["Obras"]; // Cast the list
}

@{
    ViewData["Title"] = "Ingreso trabajador";
    Layout = "~/Views/Shared/_LayoutContratista.cshtml";
}

<div class="titulo">
    <h3>@ViewBag.Nombre</h3>
</div>
<br />
<div class="titulo">
    <h4>Ingreso trabajador</h4>
</div>
<br />

<body>
    <script src="~/js/Registro.js"></script>
</body>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            @if (TempData["mensaje"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @TempData["mensaje"]
                </div>
            }
            @if (TempData["mensaje1"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["mensaje1"]
                </div>
            }
            <br />
            <form method="post" asp-action="RegistroTrabajador" asp-route-contratistaid="@ViewData["Contratista"]" enctype=multipart/form-data>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Cedula" class="control-label">Trabajador</label>
                    <input asp-for="Cedula" type="number" class="form-control" placeholder="Cédula" />
                    <span asp-validation-for="Cedula" class="text-danger"></span>

                    <input asp-for="Nombre" class="form-control" placeholder="Nombre trabajador">
                    <span asp-validation-for="Nombre" class="text-danger"></span>

                    <input asp-for="Apellido" class="form-control" placeholder="Apellidos trabajador">
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Subcontratista *Dejar en blanco en caso de no tener subcontratista*</label>
                    <input name="nitSubcontratista" type="number" class="form-control" placeholder="NIT ej:8001972684" />


                    <input name="nombreSubcontratista" class="form-control" placeholder="Nombre empresa">
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Email@email.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label">Fecha de nacimiento</label>
                    <input asp-for="FechaNacimiento" class="form-control" type="date" id="fecha" onclick="CML()" onkeyup="CML()" onmousemove="CML()"/>
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Telefono" class="control-label">Télefono</label>
                    <input asp-for="Telefono" type="number" class="form-control" placeholder="Teléfono" onclick="CML()"/>
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PersonaContacto" class="control-label">Persona de contacto</label>
                    <input asp-for="PersonaContacto" class="form-control" placeholder="Nombre y apellido" />
                    <span asp-validation-for="PersonaContacto" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TelefonoContacto" class="control-label">Teléfono del contacto</label>
                    <input asp-for="TelefonoContacto" type="number" class="form-control" placeholder="Teléfono del contacto" />
                    <span asp-validation-for="TelefonoContacto" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Departamento</label>
                    <select id="departamento" name="inputDepart" onchange="muni();" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label asp-for="Ciudad" class="control-label">Ciudad</label>
                    <select id="municipio" asp-for="Ciudad" class="form-control"></select>
                    <span asp-validation-for="Ciudad" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Obra</label>
                    <br />

                    <input onchange="myFunctionObra()" class="form-control" list="obra" id="obras" name="obra" type="text" placeholder="Obra" required />

                    <datalist id="obra">
                        @foreach (var obra in ViewBag.Obras)
                        {
                            <option name="obra" value="@obra">@obra</option>
                        }

                    </datalist>
                    <input id="codigo" name="codigo" placeholder="Código obra" class="form-control" disabled />
                    <input id="obra" name="obra" hidden />
                    <input id="cod" name="cod" hidden />
                </div>

                <div class="form-group">
                    <label asp-for="CedulaImg" class="control-label">Archivo cédula</label>
                    <div class="custom-file">
                        <input asp-for="CedulaImg" class="form-control custom-file-input" />
                        <label class="custom-file-label">Selecciona un archivo</label>
                        <span asp-validation-for="CedulaImg" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EPS" class="control-label">Archivo EPS</label>
                    <div class="custom-file">
                        <input asp-for="EPS" class="form-control custom-file-input" />
                        <label class="custom-file-label">Selecciona un archivo</label>
                        <span asp-validation-for="EPS" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ARL" class="control-label">Archivo ARL</label>
                    <div class="custom-file">
                        <input asp-for="ARL" class="form-control custom-file-input" />
                        <label class="custom-file-label">Selecciona un archivo</label>
                        <span asp-validation-for="ARL" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Pension" class="control-label">Archivo pension</label>
                    <div class="custom-file">
                        <input asp-for="Pension" class="form-control custom-file-input" />
                        <label class="custom-file-label">Selecciona un archivo</label>
                        <span asp-validation-for="Pension" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SeguridadSocial" class="control-label">Archivo seguridad social</label>
                    <div class="custom-file">
                        <input asp-for="SeguridadSocial" class="form-control custom-file-input" />
                        <label class="custom-file-label">Selecciona un archivo</label>
                        <span asp-validation-for="SeguridadSocial" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Planilla" class="control-label">Archivo planilla</label>
                    <div class="custom-file">
                        <input asp-for="Planilla" class="form-control custom-file-input" />
                        <label class="custom-file-label">Selecciona un archivo</label>
                        <span asp-validation-for="Planilla" class="text-danger"></span>
                    </div>
                </div>

                <div id="error" class="form-group ocultar" style="display: none" role="alert">
                    <label asp-for="CertificadoMedicoLaboral" class="control-label">Archivo certificado médico laboral *Mayor 60 años*</label>
                    <div class="custom-file">
                        <input asp-for="CertificadoMedicoLaboral" class="form-control custom-file-input" />
                        <label class="custom-file-label">Selecciona un archivo</label>
                        <span asp-validation-for="CertificadoMedicoLaboral" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Ingresar trabajador</button>
                </div>

                @section Scripts {

                    <script>
                        $(document).ready(function () {
                            $('.custom-file-input').on("change", function () {
                                var filename = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(filename);
                            });
                        });
                    </script>
                }
            </form>
        </div>
    </div>
</div>

<body>
    <script src="~/js/departamentos.json"></script>
    <script src="~/js/departamento.js"></script>
    <script src="~/js/deparInfo.js"></script>
    <script src="~/js/Registro.js"></script>
    <script>
        function myFunctionObra() {
            var getData = document.getElementById("obras").value;
            if (getData == "") {
                document.getElementById("codigo").value = codigo;
                document.getElementById("cod").value = codigo;
                document.getElementById("obra").value = nombre;
                document.getElementById("obras").value = nombre;
            }
            var flag = false;
            var codigo = "";
            var nombre = "";
            for (var i = 0; i < getData.length; i++) {
                if (getData[i] != ' ') {
                    codigo = codigo + getData[i];
                    flag = true;
                }
                else {
                    break;
                }
            }
            if (flag) {
                for (j = i + 1; j < getData.length; j++) {
                    nombre = nombre + getData[j];
                }
            }

            document.getElementById("codigo").value = codigo;
            document.getElementById("cod").value = codigo;
            document.getElementById("obra").value = nombre;
            document.getElementById("obras").value = nombre;
        }

        //Solicitar Certificado Medico Laboral
        function CML() {
            let hoy = new Date()
            let fechaNacimiento = new Date(document.getElementById("fecha").value)
            let edad = hoy.getFullYear() - fechaNacimiento.getFullYear()
            let diferenciaMeses = hoy.getMonth() - fechaNacimiento.getMonth()
            if (
                diferenciaMeses < 0 ||
                (diferenciaMeses === 0 && hoy.getDate() < fechaNacimiento.getDate())
            ) {
                edad--
            }
            if (edad > 60) {
                error.style.display = "block";
                if (ok.style.display !== "none") {
                    ok.style.display = "none";
                }
            } else {

                error.style.display = "none";
                ok.style.display = "block";
            }
        }
    </script>
</body>

<style>
    .titulo {
        display: flex;
        justify-content: center;
    }

    .container {
        justify-content: center;
    }

    .form-control {
        justify-content: center;
    }

    .form-group {
        justify-content: center;
    }

    .btn btn-primary {
        display: flex;
        justify-content: center;
    }
</style>