@model Contratistas.Models.ValidarDatosTrabajador


@{
    //var obras = (List<string>)ViewData["Obras"]; // Cast the list
}

@{
    ViewData["Title"] = "Actualizar Datos Trabajador";
    Layout = "~/Views/Shared/_LayoutContratista.cshtml";
}

<div class="titulo">
    <h3>@ViewBag.Nombre</h3>
</div>
<br />
<div class="titulo">
    <h4>Modificar datos trabajador</h4>
</div>
<br />

<body>
    <script src="~/js/Registro.js"></script>
</body>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            @if (TempData["mensaje"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @TempData["mensaje"]
                </div>
            }
            @if (TempData["mensaje1"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["mensaje1"]
                </div>
            }
            <form method="post" asp-action="ModificarDatosTrabajador" asp-route-contratistaid="@ViewData["Contratista"]" asp-route-trabajadorced=1>
                <div class="row">
                    <div class="col">
                        <input class="form-control" name="cedula" type="number" placeholder="Cédula del trabajador" />
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Buscar trabajador</button>
                    </div>
                </div>
            </form>
            <br />
            @if (ViewBag.Trabajador != null)
            {

        <form method="post" asp-action="ModificarDatosTrabajador" asp-route-contratistaid="@ViewData["Contratista"]" asp-route-actualizarid="@ViewBag.Trabajador.Id" enctype=multipart/form-data>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label">Trabajador</label>
                <input asp-for="Cedula" type="number" class="form-control" value="@ViewBag.Trabajador.Cedula" placeholder="Cédula" disabled />
                

                <input asp-for="Nombre" name="nombre" class="form-control" value="@ViewBag.Trabajador.Nombre" placeholder="Nombre trabajador">
                

                <input asp-for="Apellido" name="apellido" class="form-control" value="@ViewBag.Trabajador.Apellido" placeholder="Apellidos trabajador">
                
            </div>

            @if (@ViewBag.Subcontratista != null)
            {
                <div class="form-group">
                    <label class="control-label">Subcontratista</label>
                    <input name="nitSubcontratista" type="number" class="form-control" value="@ViewBag.Subcontratista.NIT" disabled />


                    <input name="nombreSubcontratista" class="form-control" value="@ViewBag.Subcontratista.Razon_social" disabled>
                </div>
            }


            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" name="email" class="form-control" value="@ViewBag.Trabajador.Email" placeholder="Email@email.com" />
                
            </div>

            <div class="form-group">
                <label asp-for="Telefono" class="control-label">Télefono</label>
                <input asp-for="Telefono" name="telefono" type="number" value="@ViewBag.Trabajador.Telefono" class="form-control" placeholder="Teléfono" />
                
            </div>

            <div class="form-group">
                <label asp-for="PersonaContacto" class="control-label">Persona de contacto</label>
                <input asp-for="PersonaContacto" name="persona" class="form-control" value="@ViewBag.Trabajador.PersonaContacto" placeholder="Nombre y apellido" />
                
            </div>

            <div class="form-group">
                <label asp-for="TelefonoContacto" class="control-label">Teléfono del contacto</label>
                <input asp-for="TelefonoContacto" name="telefonocontacto" type="number" class="form-control" value="@ViewBag.Trabajador.TelefonoContacto" placeholder="Teléfono del contacto" />
                
            </div>

            <div class="form-group">
                <label asp-for="Ciudad" class="control-label">Ciudad</label>
                <input asp-for="Ciudad" value="@ViewBag.Trabajador.Ciudad" class="form-control" disabled></input>
                
            </div>

            <div class="form-group">
                <label class="control-label">Obra</label>
                <br />
                <ul>
                    @foreach (var obra in ViewBag.Obras)
                    {
                        <li>@obra.obrNombre</li>
                    }
                </ul>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="CedulaImg" class="control-label">Archivo cédula</label>
                        <div class="custom-file">
                            <input asp-for="CedulaImg" name="cedula" class="form-control custom-file-input" />
                            <label class="custom-file-label">Selecciona un archivo</label>
                            @if (ViewBag.Trabajador.CedulaValida != "Válida")
                            {
                                <p class="text-danger">*La cédula no es válida. Por favor cargar cédula válida*</p>
                            }
                            else
                            {
                                <p class="text-success">Cédula válida</p>
                            }
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label asp-for="EPS" class="control-label">Archivo EPS</label>
                        <div class="custom-file">
                            <input asp-for="EPS" name="eps" class="form-control custom-file-input" />
                            <label class="custom-file-label">Selecciona un archivo</label>
                            @if (ViewBag.Trabajador.EPSValida != "Válida")
                            {
                                <p class="text-danger">*La EPS no es válida. Por favor cargar EPS válida*</p>
                            }
                            else
                            {
                                <p class="text-success">EPS válida</p>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ARL" class="control-label">Archivo ARL</label>
                        <div class="custom-file">
                            <input asp-for="ARL" name="arl" class="form-control custom-file-input" />
                            <label class="custom-file-label">Selecciona un archivo</label>
                            @if (ViewBag.Trabajador.ARLValida != "Válida")
                            {
                                <p class="text-danger">*La ARL no es válida. Por favor cargar ARL válida*</p>
                            }
                            else
                            {
                                <p class="text-success">ARL válida</p>
                            }
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label asp-for="Pension" class="control-label">Archivo pension</label>
                        <div class="custom-file">
                            <input asp-for="Pension" name="pension" class="form-control custom-file-input" />
                            <label class="custom-file-label">Selecciona un archivo</label>
                            @if (ViewBag.Trabajador.PensionValida != "Válida")
                            {
                                <p class="text-danger">*El archivo de pensión no es válida. Por favor cargar archivo de pensión válido*</p>
                            }
                            else
                            {
                                <p class="text-success">Pensión válido</p>
                            }
                        </div>
                    </div>
                </div>


            </div>

            <div class="form-group">
                <label class="control-label">Observación del administrador</label>
                <textarea  class="form-control" disabled>@ViewBag.Trabajador.Observacion</textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Actualizar datos</button>
            </div>

            @section Scripts {

                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var filename = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(filename);
                        });
                    });
                </script>
            }
        </form>
            }
            else
            {
                <div class="table-responsive">
                    <table id="listaTrabajadores" class="table table-bordered table-hover table-striped">
                        <thead class="thead-light">
                            <tr>
                                <td>Cédula</td>
                                <td>Nombre</td>
                                <td>Apellido</td>
                                <td>Estado de ingreso</td>
                                <td>Actualizar datos</td>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var t in ViewBag.Trabajadores)
                            {
                            <tr>
                                <td>@t.Cedula</td>
                                <td>@t.Nombre</td>
                                <td>@t.Apellido</td>
                                <td>@t.EstadoIngreso</td>
                                <td>
                                    <a asp-controller="Contratista" asp-action="ModificarDatosTrabajador" asp-route-contratistaid="@ViewData["Contratista"]" asp-route-trabajadorid=@t.Id  class="btn btn-primary">Actualizar</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

<body>
    <script src="~/js/departamentos.json"></script>
    <script src="~/js/departamento.js"></script>
    <script src="~/js/deparInfo.js"></script>
    <script src="~/js/Registro.js"></script>
    <script>
        function myFunctionObra() {
            var getData = document.getElementById("obras").value;
            if (getData == "") {
                document.getElementById("codigo").value = codigo;
                document.getElementById("cod").value = codigo;
                document.getElementById("obra").value = nombre;
                document.getElementById("obras").value = nombre;
            }
            var flag = false;
            var codigo = "";
            var nombre = "";
            for (var i = 0; i < getData.length; i++) {
                if (getData[i] != ' ') {
                    codigo = codigo + getData[i];
                    flag = true;
                }
                else {
                    break;
                }
            }
            if (flag) {
                for (j = i + 1; j < getData.length; j++) {
                    nombre = nombre + getData[j];
                }
            }

            document.getElementById("codigo").value = codigo;
            document.getElementById("cod").value = codigo;
            document.getElementById("obra").value = nombre;
            document.getElementById("obras").value = nombre;
        }
    </script>
</body>

<style>
    .titulo {
        display: flex;
        justify-content: center;
    }

    .container {
        justify-content: center;
    }

    .form-control {
        justify-content: center;
    }

    .form-group {
        justify-content: center;
    }

    .btn btn-primary {
        display: flex;
        justify-content: center;
    }
</style>